<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
  My favorite animal is:
  <ul>
    <li>
    <!-- {{
      @if (data.animal === 'panda') {
        <span>&#10003;</span>
     }}
    } -->
    <span>&#10003;</span>
      {{data.animal}}
    </li>
    <li>
      <!-- @if (data.animal === 'unicorn') {-->
        <span>&#10003;</span>
      <!-- } -->
      {{data.animal}}
    </li>
    <li>
     <!-- @if (data.animal === 'lion') {-->
        <span>&#10003;</span>
      <!-- } --> 
      {{data.animal}}
    </li>
  </ul>
</div>