.furit-bar{
    height:100px;
    width:100px;
    border-radius: 2px;
    margin: 25px 25%;
    position: relative;
    transition: top 2s ease, left 2s ease; /* Animation properties */
}

.furit-bar img{
  position: relative;
}

.furit-bar img{
    height: 100%;
    width: 100%;
}

.dim{
  opacity: 0.2;
}

:root {
  --basket-offset-x: 0;
  --bakset-offset-y: 0;

  --fruit-offset-x:25;
  --fruit-offset-y:350;
}

@keyframes move-box {
  from {
    transform: translate(0,0);
  } to {
    transform: translate(var(--basket-offset-x),var(--basket-offset-y));
  }
}

.sendToBasket {
  animation: move-box 2s forwards;
}